ColorNodes:
exterior1:
	diffuse = 1.0 1.0 1.0
	reflectivity = 0.2
	transparency = 
BodyColor: 
	exterior, ORVM_Mirror_RH, ORVM_Mirror, Fenders, RH_Doors, RH_BSO, ROOF, RH_Roof, Rear_Bumper, RH_RearBumper, RH_TrunkLid, TRUNK_LID, Doors, LH_Handles, RH_Handles, Fuel_Lid, BSO, ORVM_Color_Part_RH, RH_ORVM_color, Rear_Caps_LH, Rear_Bumper_Caps, Multi_Output_1__Symmetry_
Interior_Color_1:
	fr_fabric, rr_fabric, Other_Color_Parts, Multi_Output_12__Symmetry_, Multi_Output_14__Symmetry_, Geometrical_Set_53, Roof_Switch, Geometrical_Set_21, st_accent, Mirror_case, inr_handle_housing, ROOFLINER, RH_Upper_Pillars, PARCEL_TRAY, LH_Upper_Pillars, C_PILLAR,  Multi_Output_25__Symmetry_
Interior_Color_2:
	Dashboard, door, fr_door_bot, rr_door_bot, DefaultLayer, Rear_Doors, Front_Doors, Multi_Output_5__Symmetry_, Multi_Output_13__Symmetry_, LH_Lower_Pillar, Multi_Output_15__Symmetry_,Multi_Output_16__Symmetry_, Geometrical_Set_66, Multi_Output_17__Symmetry_, fr_grab, rr_grab, Multi_Output_23__Symmetry_, L83, L84, st_button, st_sw_surround, nacelle_lower, nacelle_top, c_pillar_lower_part, WAT, SPEAKER_GRILL, HMS_COVER, Multi_Output_19__Symmetry_, Multi_Output_7__Symmetry_, HMS_RH, LH_door_missing_Part, RH_door_missing_Parts, Door_Int_Missing_Parts, inr_handl_housing, Multi_Output_2__Symmetry, fr_speaker, Extra_Black, vinyl_cover, Interior_Missing_Part, recliner, combi, fr_rh_bezel, fr_lh_bezel, rr_bezels, lower_part
Interior_Seats:
	seat_temp
Windshield_transparency:
		Window_Glasses,Front_Glass,RH_Glasses,Rear_Glass
	
	
	
